// 颜色
$primary-color: #108ee9 !default;
$warning-color: #e94f4f !default;


// 文本
$text-color: #666 !default;
$text-color-dark: #333 !default;
$text-color-light: #999 !default;
$text-color-white: #fff !default;

// 字号 
$font-size: 1.8rem !default;
$font-size-large: 2.5rem !default;
$font-size-small: 1.4rem !default;

// 背景
$background-color: #fff !default;
$background-color-dark: #f5f5f5 !default;
$background-color-light: #fff !default;

//透明度
$opactiy: 0.6 !default;
$opactiy-dark: 0.8 !default;
$opactiy-light: 0.4 !default;

// 内边距
$padding-y: 0.75rem !default;
$padding-x: 1.5rem !default;
// $padding-y-large: 1.5rem !default;
// $padding-x-large: 3rem !default;
$padding-y-small: 0.5rem !default;
$padding-x-small: 1rem !default;


// 圆角
$border-radius: .5rem !default;
$border-radius-large: 1rem !default;
$border-radius-small: .25rem !default;

// 边框颜色
$border-color: #eee !default;



